{
  "extends": ["airbnb", "react-app"],
  "parser": "babel-eslint",
  "ignorePatterns": ["node_modules/", "src/serviceWorker.js", "src/reportWebVitals.js"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": 0,
  }
}
