header {
  height: 7rem;
  font-family: 'Bangers', cursive;
  font-size: 6rem;
  top: 0;
  color: #FFC847;
  text-shadow: 2px 2px #474747;
}

h1,
h5 {
  margin: 0;
}

header,
footer {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  /* height: 6rem; */
  background-color: #2211B9;
}

main {
  z-index: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2211B9;
}

footer {
  bottom: 0;
  height: 3.5rem;
  font-family: 'Permanent Marker', cursive;
}

h5 {
  font-size: 1.5rem;
  color: #FFC847;
  text-shadow: 2px 2px #474747;
}
