@keyframes unroll {
  0% {
    width: 1%;
  }
  100% {
    width: 100%;
  }
}

.search {
  display: flex;
  filter: invert();
}

.search-icon {
  width: 1.5rem;
  height: 1.5rem;
  /* filter: invert(); */
}

.search-icon:hover {
  transform: scale(1.025);
  cursor: pointer;
}

.search-bar {
  display: none;
  transition: all 0.3s ease-in-out;
}

.active {
  display: block;
  animation: unroll 1s;
}
