/* @import-normalize; */
@import '_reset.css';

::-webkit-scrollbar {
  display: none;
}

:-webkit-any-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

html {
  font-size: 1vw;
  width: 100vw;
  height: 100vh;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#root {
  height: 100%;
}
